@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.container {
    box-shadow: 14px 17px 13px -2px rgba(130,114,114,0.75);
    -webkit-box-shadow: 14px 17px 13px -2px rgba(130,114,114,0.75);
    -moz-box-shadow: 14px 17px 13px -2px rgba(130,114,114,0.75);
  width: 25em;
  margin-left: 45em;
  margin-top: 4em;
}

.container * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tituloSubtitulo {
  background-color: rgb(78, 201, 105);
  color: #ffffff;
}

.tituloSubtitulo .titulo {
  margin-bottom: -1em;
}

.ingresos input {
  margin-left: -2em;
  margin-top: 0.3em;
  padding-left: 5em;
  margin-bottom: 0.3em;
  padding: 0.2em;
  border: 1px solid rgba(0, 0, 0, 0.229);
  font-size: 1.1em;
  border-radius: 0.5em;
}

.botoncito {
  margin-left: -0.5em;
  margin-top: 0.2em;
  font-size: 1.3em;
  width: 8em;
  color: #ffffff;
  font-weight: bold;
  padding: 0.5em 0.5em;
  color: #ffffff;
  text-decoration: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 2em;
  -webkit-box-shadow: 1px 1px 3px #000000;
  -moz-box-shadow: 1px 1px 3px #000000;
  box-shadow: 1px 1px 3px #000000;
  text-shadow: 4px 1px 3px #1f1f1f;
  border: solid #2e963e 1px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#2a9c45), to(#4de635));
  background: -moz-linear-gradient(top, #2a9c45, #4de635);
}



.creaciones {
  display: flex;
  justify-content: flex-start;
}

.creaciones h3 {
  width: 20em;
  margin-bottom: -0.99em;
  font-size: 1em;
  color: #2d920f;
}

.mostrado #total {
  margin-bottom: -1em;
  margin-left: -18em;
  font-weight: bold;
}
.mostrado #cadaUno {
  margin-left: -1em;
  color: rgb(21, 109, 4);
  font-weight: bold;
}
